{% extends 'base.html' %}


{% block static_header %}
    <link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
  	<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
	<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>
{% endblock %}

{% block title %}Editor{% endblock %}

{% block content %}
<div class="editor-wrapper">
    <form action=" {{ app.url_for(views.create_post) }}" method=post>

        <div class="form-group">
            <input name="title" class="form-control" type="text" placeholder="title"/>
        </div>
        <div class="form-group">
            <input name="tag" class="form-control" type="text" placeholder="tag"/>
        </div>
        <textarea name="editor" placeholder="Content here ...."></textarea>
        <button type="submit" class="btn btn-primary">Create A Post</button>
    </form>
</div>
{% endblock %}



{% block static_footer %}
    <!-- only required for loading sample markdown into the textarea -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script type="text/javascript">
    var editor = new Editor();
    editor.render();
    </script>
{% endblock %}