{% extends 'base.html' %}


{% block content %}
<h2 id="title">Flango Blog</h2>
<div class="post-list">
    <ul class="list-unstyled">
        {% if not posts %}
            <p><a href="{{ app.url_for(views.create_post) }}">创建博客。</a></p>
        {% else %}
            {% for post in posts %}

            <div class="row">
                <div class="col-md-12">
                    <li>
                        <h4> <a href="{{ app.url_for(views.show_post, id=post.id) }}"> {{ post.title }} </a></h4>
                        <p>{{ post.pub_date }}</p>
                        <p>{{ md_renderer.render(post.content[:300]) }}......</p>
                        <p>
                        {% for tag in post.tags.all() %}
                            <a href="{{ app.url_for(views.show_tag, id=tag.id) }}">
                                <button type="button" class="btn btn-default btn-xs">
                                    {{ tag.name }}
                                </button>
                            </a>&nbsp;
                        {% endfor %}
                        </p>
                    </li>

                    <br />
                    <hr />
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock %}